.home{
    padding: 50px;
}

.main-home-content {
    display: flex;
}

.main-home-content .img-container {
    width: 100rem;
}

.home-welcome{
    text-align: center;
    font-size: xx-large;
    color: rgb(42, 42, 42);
    font-family: lato-black;
    margin-bottom: 50px;
}
.home-text{
    padding: 10px 100px;
    font-family: lato-light;
}

@media screen and (max-width: 1080px) {
    .main-home-content{
        flex-wrap: wrap;
    }

    .main-home-content .img-container {
        width: 40rem;
    }
  }