/* LOADING */
.loading{
    margin-top: 30vh;
    margin-left: 40vw;
}

.loading {
    display: inline-block;
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #83c9f8;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 0.5s linear infinite;
    animation: spin 0.5s linear infinite;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* MAIL */

.mail-header {
    background-color:rgb(245 247 249);
    display: flex;
    align-items: center;
    padding: 10px 25px;
}
.mail-search{
    background-color: #fff;
    display: flex;
    border-radius: 10px;
    align-items: center;
    padding: 0 10px;
    gap: 15px;
    width: 75%;
    /* width: 70vw; */
    height: 30px;
    margin-left: 127px;
    box-shadow: 0 0 3px 0 black;
}
.mail-logo{
    width: 70px;
}
.mail-search-btn{
    cursor: pointer;
    color: rgb(85, 85, 85);
}
.mail-search-input{
    width: 100%;
    height: 20px;
    border: none;
    font-size: large;
    font-family: roboto-regular;
}
.mail-search-input:focus{
    border: none;
    outline-offset: 0px;
    outline: none;
}

.mail-container {
    /* padding: 20px; */
    display: grid;
    grid-template-columns: 200px auto;
    gap: 20px;
}

td {
    height: 35px;
    padding: 2px 7px;
}

tr {
    border-bottom: 1px solid rgb(162, 162, 162);
}

table {
    height: 35px;
    width: 90%;
    font-family: roboto-regular;
}


.on-message {
    background-color: rgb(169, 193, 207);
}

.mail-list-message{

}
.mail-list-starred{
    color: gray;
    width: 50px
}

.mail-list-starred:hover{
    color: black;
}
.mail-list-message:hover {
    background-color: rgb(215, 230, 239);
    cursor: pointer;
    box-shadow: 0px 0px 4px 0px rgba(71, 71, 71, 0.986);
}

.mail-list-message:hover .preview-time {
    display: none;
}

.table-btns {
    display: none;
}
.mail-list-message:hover .table-btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.fa-solid.fa-star {
    color: rgb(255, 153, 0);
}

.mail-list {
    background-color: rgb(255, 255, 255);
    border-spacing: 0;
    border-collapse: collapse;
    padding: 15px;
}
.is-read{
    background-color: rgba(209, 219, 226, 0.701);
}

.mail-nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

ul.mail-nav-list {
    padding: 0;
}

.mail-nav-btns {
    display: flex;
    font-size: 16px;
    padding: 12px 15px;
    gap: 5px;
    cursor: pointer;
    font-family: roboto-regular;
    /* font-family:Georgia, 'Times New Roman', Times, serif */
}

.mail-nav-btns:hover {
    background-color: #c2e7ff;
    border-radius: 10px;
}

.new-mail-btn {
    display: flex;
    gap: 10px;
    font-size: 18px;
    cursor: pointer;
    background-color: #c2e7ff;
    padding: 20px;
    /* border-radius: 30px; */
    border-top-right-radius:30px;
    border-bottom-right-radius:30px;
    margin-right: 50px;
    transition: 0.5s;
    font-family: roboto-regular;
}

.new-mail-btn:hover {
    box-shadow: 1px 1px 5px 1px rgba(64, 64, 64, 0.405);

}

.new-message-btns {
    display: flex;
    justify-content: space-between;
}



/* PREVIEW */

.preview-message {
    padding-bottom: 30px;
}

.preview-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.preview-subject {
    font-size: x-large;
}

.preview-sender {
    display: flex;
    gap: 15px;
    padding: 10px;
}

.preview-sender-name {
    font-weight: 600;
}

.preview-sender-email {
    color: rgb(110, 110, 110);
}

.preview-message-text {
    padding: 10px;
}

.preview-time {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;
}

.preview-btn{
    color:gray;
}
.preview-btn:hover{
    color:black
}
/* NEW MESSAGE */
.new-message-container{
    padding:50px 100px;
}

.msg-form {
    list-style-type: none;
    margin-top: 5px;
    display: flex;
}

.msg-form-label {
    min-width: 55px;
    gap: 5px;
    /* margin-right: 20px; */
}

.new-message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    color: rgb(255, 255, 255);
    background-color: #6b9fbf;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /* width: 100%; */
    font-family: lato-bold;
}


.new-message-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* width: 100%; */
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #fff;
    
}

.msg-input-form {
    width: 90%;
}

.text-input-form {
    width: 90%;
    height: 40vh;
}

.new-message-trash {
    cursor: pointer;
    padding: 10px;
    color: gray;
}
.new-message-trash:hover{
    color: black;
}
.new-message-cancel{
    cursor: pointer;
    padding: 10px;
}
.new-message{
    border-radius: 5px;
    box-shadow: 0 0px 8px 0px rgb(100, 100, 100);
}
.new-message-send {
    padding: 0 16px;
    border-radius: 10px;
    border: none;
    background-color: #6b9fbf;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.new-message-send:hover {
    background-color: #467fdb;
}

/* MAIL DETAILS */

.mail-details{
    margin: 0 150px;
    height: 90vh;
    background-color:rgb(255, 255, 255);
    /* box-shadow: 10px -5px 8px -10px rgba(30, 30, 30, 0.8), -10px -5px 8px -10px rgba(32, 32, 32, 0.8); */
    box-shadow: 10px -5px 8px -10px rgba(30, 30, 30, 0.8), -10px -5px 8px -10px rgba(32, 32, 32, 0.8);
    font-family: roboto-regular;

}

.mail-details-header{
    display: flex;
    justify-content: space-between;
    margin-left: 9px;
}

.mail-details-header-subject{
    padding: 0 30px;
    font-size: x-large;
}
.mail-details-header-subject-back{
    padding: 30px;
    display: flex;
    align-items: center;
}
.mail-details-header-btns{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-right: 37px;
}
.mail-details-header-btn{
    cursor: pointer;
    color: gray;
}
.mail-details-header-btn:hover{
    color: black;
}
.mail-details-starred{
    color: gray;
    cursor: pointer;
}
.mail-details-starred:hover{
    color: black;
}
.mail-details-info-a{
    display: flex;
    gap: 20px;
}
.mail-detail-image{
    width: 70px;
    height: 100%;
}
.mail-detail-img{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin-left: 30px;
}
.mail-details-container{
    width: 80%;
}
.mail-details-contact{
    display: flex;
    gap: 10px;
    align-items: center;
}
.mail-details-name{
    font-size: large;
    font-weight: 600;
}
.mail-details-mail{
    color: grey;
}
.mail-details-to{
    color: gray;
}
.mail-details-info{
    display: flex;
    justify-content: space-between;
}
.mail-details-time-star{
    display: flex;
    gap: 5px;
    color: gray;
}
.mail-details-contant{
    margin-top: 20px;

}
