.mail-header {
    background-color: rgb(140, 184, 184);
    display: flex;
    padding: 5px;
    justify-content: space-between;
}

.mail-container {
    padding: 20px;
    display: grid;
    grid-template-columns: 200px auto;
    gap: 20px;
}

td {
    background-color: aliceblue;
    height: 35px;
    padding: 2px;
}

.mail-list {
    /* display: none; */
}

.mail-nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

/* NEW MESSAGE */

.new-message-container {
    display: none;
}

.msg-form {
    list-style-type: none;
    margin-top: 5px;
    display: flex;
}

.msg-form-label {
    min-width: 55px;
    gap: 5px;
    /* margin-right: 20px; */
}

.new-message-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.msg-input-form {
    width: 90%;
}

.text-input-form {
    margin-left: 55px;
    width: 90%;
    height: 50vh;
}