.mail-header {
    background-color: rgb(140, 184, 184);
    display: flex;
    padding: 5px;
    justify-content: space-between;
}

.mail-container {
    padding: 20px;
    display: grid;
    grid-template-columns: 200px auto;
    gap: 20px;
}

td {
    height: 35px;
    padding: 2px 7px;
}

tr {
    border-bottom: 1px solid rgb(162, 162, 162);
}

.mail-list-message:hover {
    background-color: rgb(215, 230, 239);
    cursor: pointer;
    box-shadow: 1px 1px 2px 1px rgba(71, 71, 71, 0.2);
}



.mail-list {
    /* display: none; */
    background-color: rgb(225, 235, 241);
    border-spacing: 0;
    border-collapse: collapse;
    padding: 15px;
}


.mail-nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}


/* PREVIEW */

.preview-message {
    padding-bottom: 30px;
}

.preview-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.preview-subject {
    font-size: x-large;
}

.preview-sender {
    display: flex;
    gap: 15px;
    padding: 10px;
}

.preview-sender-name {
    font-weight: 600;
}

.preview-sender-email {
    color: rgb(110, 110, 110);
}

.preview-message-text {
    
}

/* NEW MESSAGE */

.new-message-container {
    display: none;
}

.msg-form {
    list-style-type: none;
    margin-top: 5px;
    display: flex;
}

.msg-form-label {
    min-width: 55px;
    gap: 5px;
    /* margin-right: 20px; */
}

.new-message-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.msg-input-form {
    width: 90%;
}

.text-input-form {
    margin-left: 55px;
    width: 90%;
    height: 50vh;
}

/* MAIL LIST */