.notes-input {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.note-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 1rem;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 5rem;
}

.note-preview {
  width: 15rem;
  border: solid rgb(209, 208, 208) 1px;
  border-radius: 1rem;
  font-family: Roboto, arial, sans-serif;
  box-shadow: 0 2px 5px rgb(175, 175, 175);
  word-break: break-all;
}

.note-preview h2 {
  padding: 1rem;
}
.note-preview h1 {
  padding: 1rem;
}

.note-btns {
  padding: 1rem;
  color: #6E85B7;
  gap: 1rem;
    display: flex;
}

.note-btn:hover {
  cursor: pointer;
  color:#4d5d80
}

.note-type-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.1rem;
 color: #6E85B7;
}

.note-type-btn:hover {
  cursor: pointer;
  color:#4d5d80
}

.note-img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.note-video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.note-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

form {
  width: 37.5rem;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #fff;
  font-size: 16px;
  resize: none;
  box-shadow: 0 1px 7px rgb(128, 128, 128);
}

form input {
  width: 100%;
  border: none;
  padding: 4px 10px;
  outline: none;
  font-size: 1rem;
  resize: none;
}

form textarea {
  width: 100%;
  border: none;
  padding: 4px 10px;
  outline: none;
  font-size: 1rem;
  resize: none;
}
