@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.body {
  font-family: 'Roboto', sans-serif;
}

.note-index {
  font-family: 'Lato';
}

[contenteditable] {
  outline: 0px solid transparent;
}

.notes-input {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  width: 37.5rem;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #fff;
  font-size: 16px;
  resize: none;
  box-shadow: 0 1px 7px rgb(128, 128, 128);
}
.notes-filter{
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.notes-filter form {
  display: flex;
  gap: 1rem
}

.notes-filter select {
  border: none;
  box-shadow: 0 1px 7px rgb(128, 128, 128);
}

.notes-filter input {
  display: flex;
  justify-content: center;
  box-shadow: 0 1px 7px rgb(128, 128, 128);
}



.note-add {
  display: flex;
    justify-content: center;
    margin-top: 2.0625rem;
}

.pinned-notes {
  display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 1rem;
    flex-wrap: wrap;
    list-style-type: none;
    margin-top: 5rem;
}

.note-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 1rem;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 5rem;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width:  36.625rem;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}


.note-preview {
  width: 15rem;
  border: solid rgb(209, 208, 208) 1px;
  border-radius: 1rem;
  font-family: Roboto, arial, sans-serif;
  box-shadow: 0 2px 5px rgb(175, 175, 175);
  word-break: break-all;
}

.note-preview h2 {
  padding: 1rem;
}
.note-preview h1 {
  padding: 1rem;
}

.note-preview p {
  padding: 1rem;
  margin: 0;
}

.color-picker {
  display: flex;
  position: absolute;
}

.color-picker button {
  border: none;
  outline: none;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

.color-picker button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.color-picker button:active {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.color-picker button.selected {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

iframe {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.note-btns {
  padding: 1.2rem 1rem 1.5rem 1rem;
  color: #6E85B7;
  gap: 1rem;
    display: flex;
    justify-content: space-around;
    opacity: 0;
    transition-duration: 0.218s;
    transition-property: opacity;
    transition-timing-function: ease-in;
}

.note-btns:hover {
  opacity: 1;
}

.note-btn:hover {
  cursor: pointer;
  color:#4d5d80
}

.note-type-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.1rem;
 color: #6E85B7;
}

.note-type-btn:hover {
  cursor: pointer;
  color:#4d5d80
}

.notes-input button {
  border:none;
}

.add-note-btn{
  color: #6E85B7;
  
}

i.add-note-btn:hover {
  cursor: pointer;
  color:#4d5d80
}

.note-img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.note-video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.note-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

form input {
  width: 100%;
  border: none;
  padding: 4px 10px;
  outline: none;
  font-size: 1rem;
  resize: none;
}

form textarea {
  width: 100%;
  border: none;
  padding: 4px 10px;
  outline: none;
  font-size: 1rem;
  resize: none;
}
